@import "../../App.scss";

.Profile {
  border-bottom: $border;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 50%;
    border: $border;
    transition: transform 0.3s;
  }

  img:hover {
    transform: scale(1.06);
  }

  .follow {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
  }

  a {
    font-size: 1.2rem;
    padding-right: 0.6rem;
    color: $borderC;
  }
  a:hover {
    color: $primary;
  }
}
