@import "./../../App.scss";

.Aside {
  display: flex;
  flex-direction: column;
  .drawer {
    color: $borderC;
    background: transparent;
    border: none;
    font-size: 1.5rem;
  }
  .drawer:focus {
    outline: none;
  }
  button:hover {
    cursor: pointer;
  }

  .menu {
    width: 0;
    background: $secondary;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $gray;
    transition: width 0.7s;
    border-top: $border;
    overflow: hidden;

    nav {
      text-transform: uppercase;

      .link {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.3rem 0;
        // font-size: 1.2rem;
        color: $gray;
        padding-left: 1rem;
        transition: 0.3s all ease-in-out;
        font-weight: 600;
      }
      .link span {
        padding-left: 0.9rem;
      }
      .link:hover,
      .link:focus {
        color: $primary;
        background: $gray;
      }
    }
  }

  .Opened {
    width: 13rem;
    padding: 0.5rem;
    border-right: $border;
  }
}
