@import "./../../App.scss";

.Aside {
  width: 16rem;
  background: $secondary;
  height: 100vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $gray;
  border-right: $border;

  nav {
    text-transform: uppercase;

    .link {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 0.3rem 0;
      // font-size: 1.2rem;
      color: $gray;
      padding-left: 1rem;
      transition: 0.3s all ease-in-out;
    }
    .link span {
      padding-left: 0.9rem;
    }
    .link:hover,
    .link:focus {
      color: $primary;
      background: $gray;
    }
  }
}
