$primary: #004d40;
$secondary: #00695c;
$borderC: #a7ffeb;
$border: 1.8px solid $borderC;
$gray: #fafafa;
$link: #64ffda;

.App {
  padding: 0;
  color: $gray;
  font-weight: 300;
  font-size: 1.1rem;
}
